@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.option,
.option2 {
  display: none;
}

@media screen and (max-width: 767px) {
  .option {
    display: flex;
    margin-top: 5px;
    width: 60%;
    align-items: center;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    /* height: 50vh; */
    bottom: -100%;
    left: 0;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    /* background: white; */
    position: fixed;
    bottom: 0;
    margin: 0;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    text-align: center;
  }
}
