.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}
.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}
.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}
form {
  position: relative;
}

.email_icon_times {
  position: absolute;
  right: 10px;
  top: 45%;
}

.email_icon_check {
  position: absolute;
  right: 10px;
  top: 60%;
}

button:disabled {
  opacity: 0.4;
  cursor: no-drop;
}

form {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
p {
  color: black;
}
